body {
  background-image: url("../images/fondo1.png");
  background-size: 300px;
  background-repeat: no-repeat;
  background-color: #001c20;
  background-position-x: 900px;
  background-position-y:150px;

}

#contorno{
  border: double white;
}
#clima{
  padding-left: 950px;
  padding-top: 150px;
}

#imagenClima{
  height: 160px;
  width: 200px;
}
#topMap{
  color: white;
  padding-top: 100px;
  padding-left: 50px;
}
#mapa{
    float: left;
    margin-top:0px;
    padding-left: 50px;
}

.form-control{
  height: 40px;
  width: 300px;
}

#form-login{
    background-position: left;
    margin: 100px;
}

.card-deck{

}

#campoLogin, #tituloTabla{
  color: white;
}

#tablaActividades{
  width: 300px;
  height: auto;
  margin-top: 50px;
  margin-right: 900px;
}

#filtro{
  margin-top: 25px;
  margin-bottom: 25px;
}

#imagenLogin{
  width: 30px;
  height: 30px;
  margin-top: 5px;
  margin-right: 10px;
  display: inline-block;
}

#ingresar{
  margin-right: 10px;
}
