<link rel="stylesheet" href="styles/presentacionCampos.css">
<div class="row container-fluid">
<% for (let campo of campos) { %>
<div class="card text-white bg-info mb-3">
    <div class="card-header"><%-campo.nombre%></div>
    <div class="card-body">
        <p>Cantidad de hectáreas: <%-campo.cantHas%></p>
        <p>Localidad: <%-campo.localidad%></p>
        <p>Provincia: <%-campo.provincia%></p>
    </div>
</div>
<%}%>
</div>
