<link rel="stylesheet" href="styles/presentacionCampos.css">
<% for (let campo of campos) { %>
<section id="info">
    <div class="row">
        <div class="card">
            <h2><%-campo.nombre%></h2>
            <p>Cantidad de hectáreas: <%-campo.cantHas%></p>
            <p>Localidad: <%-campo.localidad%></p>
            <p>Provincia: <%-campo.provincia%></p>

        </div>
    </div>
</section>
<%}%>



