<div class="card-deck">
    <% for (let campo of campos) { %>

    <div class="card bg-success">
        <div class="card-body text-center">
            <p class="card-text"><%-campo.nombre%></p>
            <p class="card-text"><%-campo.cantHas%></p>
            <p class="card-text"><%-campo.localidad%></p>
            <p class="card-text"><%-campo.provincia%></p>
        </div>
    </div>
</div>
<%}%>
