<div id="form-login">
    <form method="post" action="/newStock">
        <div class="form-group">
            <label for="cantKilos" id="campoLogin">Cantidad de kilos: </label>
            <input type="number" class="form-control" id="cantKilos" name="cantKilos">
            <small id="emailHelp" class="form-text text-muted">Ingrese la cantidad de kilos actual.</small>
        </div>
        <div class="form-group">
            <label for="tipo">Tipo</label>
            <select name="tipo" id="tipo">
                <option>1</option>
                <option>2</option>
                <option>3</option>
            </select>
        </div>
        <div class="form-group">
            <label for="gps" id="campoLogin">Ubicación GPS: </label>
            <input type="text" class="form-control" id="gps" name="gps">
            <small id="emailHelp" class="form-text text-muted">Ingrese la ubicación GPS donde se encuentra.</small>
        </div>
        <div>
        <label for="campoID"><b>Campo</b></label>
        <br>
        <select name="campoID" id="campoID">
            <% for (let campo of campos){ %>
                <option value="<%-campo.id %>"> <%-campo.nombre %></option>
            <% } %>
        </select>
        </div>
        <button type="submit" class="btn btn-primary">Guardar</button>
    </form>
</div>
